.interaction-bar {
    display: flex;
    align-items: center;
    margin: 8px 16px 32px 16px;
}

.flex-spacer {
    flex-grow: 1;
}

p.text-center {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.deck {
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 6000%;
}

@media (pointer:coarse) {
    p.text-center {
        overflow: hidden;
    }

    .card-container, .front, .back {
        width: 100vw;
    }

    h2 {
        font-size: 4vw;
        text-align: right;
        left: 80px;
        margin-right: 20px;
        position: absolute;
    }
}
