{% extends "skeleton.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rotating-card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/new.css') }}">
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="newpost">
    <div class="card-container manual-flip">
        <div class="card" onclick="rotateCard(this)">
            <form action="/new" id="post" method="post">
                <div class="front">
                    <div class="cover">
                        <input type="text" name="title" id="title" placeholder="Post Title">
                    </div>
                    <div class="content">
                        <div class="main">
                            <p class="text-center">
                                <div id="editor">
                                    <p>Your next masterpiece...</p>
                                </div>
                                <textarea name="text" style="display:none" id="hiddenArea"></textarea>
                            </p>
                            <div class="flex-spacer">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="back">
                    <div class="header">

                    </div>
                    <div class="content">
                        <div class="main">
                            <button type="submit"> Publish </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>      
</div>
{% endblock %}

{% block scripts %}
<script>
function rotateCard(btn){
    var $card = $(btn).closest('.card-container');
    console.log($card);
    if($card.hasClass('hover')){
        $card.removeClass('hover');
    } else {
        $card.addClass('hover');
    }
}
</script>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script>
    var quill = new Quill('#editor', {
      theme: 'snow'
    });

    

    $("#post").on("submit",function(){
    $("#hiddenArea").val($('#editor').innerHTML);
    })
  </script>

<script>

document.querySelector('#editor').onclick = function(event) {
    event.stopPropagation();
}

document.querySelector('#title').onclick = function(event) {
    event.stopPropagation();
}

</script>
{% endblock %}